.parallax-container {
  height: 500px;
}

/* Set theme color */
.btn,
.btn-floating,
.page-footer,
.nav-wrapper,
.statusbar,
.nav-content {
  background-color: #f9a825;
}
.input-field,
.input-field > label,
.input-field > .material-icons,
.dropdown-content > li > a,
.secondary-content > .material-icons {
  color: #1a237e;
  font-weight: bold;
}
.tabs.tabs-transparent .tab a,
nav ul a {
  /* font-weight: bold; */
  color: black;
}
a,
.primary-text {
  color: #1a237e;
}
.markdown ul {
  padding-left: 20px;
}
.markdown ul > li {
  padding-left: 20px;
  list-style-type: disc;
}
.leaflet-top,
.leaflet-bottom {
  z-index: 950;
}

/* styles for '...' */
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;

  /* */
  margin-right: -1em;
  padding-right: 1em;
}
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  width: 1em;
  /* set width and height */
  height: 1em;
  margin-top: 0.2em;
  background: white;
}
.sidenav {
  top: 66px;
}
.buttons a {
  margin: 5px 0;
}
.buttons {
  padding: 0 20px;
}

/* print styles */
@media print {
  html, body {
    font-size: 14px;
  }
  body {
    margin: 0;
    color: #000;
    background-color: #fff;
  }
  a[href^='http']::after {
    content: ' (' attr(href) ')';
  }
  .leaflet-container,
  img,
  pre,
  blockquote {
    page-break-inside: avoid;
    page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-inside: avoid; /* or 'auto' */
  }
  main::after {
    content: 'Copyright DRIVER+';
    display: block;
    text-align: center;
  }
  .do-not-print,
  header,
  footer,
  aside,
  nav,
  form,
  iframe,
  .menu,
  .hero,
  .adslot {
    display: none;
  }
}

.margin-top7 {
  margin-top: 7px;
}
.inline {
  display: inline-block;
  margin: 0 1rem;
}

.markdown p {
  color: black;
  font-weight: normal;
}

.repeat-list .pagination {
  margin: 0;
}
